<app-headers></app-headers>
<article>
    <div id="video">
        <iframe width="901" height="516" src="https://www.youtube.com/embed/JYNS7uMx9HI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h2>Mercado do React Native, Flutter e concorrentes | Podcast #006</h2>
    <p>Três programadores sentam para conversar sobre as perspectivas do React Native no mercado e sua concorrência com o Flutter e outras ferramentas.<span>A gente passa a maior parte do tempo escrevendo código. Agora chegou o momento de falar sobre isso.</span></p>
</article>
    
<app-nav></app-nav>
