.ad{
    padding: 2em 9em;
    background-color: #1C1B1F;
}

.propagandas{
    border-radius: 2em;
}

.card{
    width: 18em;
    height: 21em;
    margin: 1em auto;
    background-color: #1C1B1F;
    color: white;
    border: solid 0.1em #938F99;
    align-items: center;
    justify-content: center;
}

.imgCard{
    padding-top: 1em;
    width: 8em;
}

#cartoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 4em;
}

@media only screen and (max-width: 5000px) {
    #cartoes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .imgCaro{
        height: 400px;
    }
    .ad{
        padding: 2em 5em;
        background-color: #1C1B1F;
    }
  }

@media only screen and (max-width: 1200px) {
    #cartoes{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .imgCaro{
        height: 300px;
    }
    .ad{
        padding: 2em 5em;
        background-color: #1C1B1F;
    }
  }

@media only screen and (max-width: 900px) {
    .imgCaro{
        height: 300px;
    }
    .ad{
        padding: 2em 1.5em;
        background-color: #1C1B1F;
    }
    #cartoes{
        grid-template-columns: none;
    }
    
  }