<app-headers></app-headers>
<article id="down">
    <section id="cartoes" (click)="irParaCurso()">
        <div id="texto">
            <span id="tema">Angular Fundamentos</span>
            <span id="prof">Loiane Groner</span>
            <div id="info">
                <span id="level">Iniciante</span>
                <span id="data">Jul 2016</span>
                <span id="tempo">1h:25m</span>
            </div> 
        </div>
        <img src="./assets/down1.svg" alt="Icone de livro" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">SAP Fundamentos</span>
            <span id="prof">Amanda Falcão</span>
            <div id="info">
                <span id="level">Iniciante</span>
                <span id="data">Jan 2021 </span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/down3.svg" alt="Icone de livro" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Padrão de Projetos MVC</span>
            <span id="prof">Deise Bastos</span>
            <div id="info">
                <span id="level">Avançado</span>
                <span id="data">Out 2021</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/down1.svg" alt="Icone de livro" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Unity Fundamentos</span>
            <span id="prof">Evert Barros</span>
            <div id="info">
                <span id="level">Iniciante</span>
                <span id="data">Ago 2021 </span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/down3.svg" alt="Icone de livro" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Python Padrão de Projetos</span>
            <span id="prof">Camilla Lenzi</span>
            <div id="info">
                <span id="level">Intermediário</span>
                <span id="data">Set 2021</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/down2.svg" alt="Icone de livro" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Spring Boot Fundamentos</span>
            <span id="prof">Heloize Pinto</span>
            <div id="info">
                <span id="level">Iniciante</span>
                <span id="data">Dez 2020</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/down1.svg" alt="Icone de livro" id="icone">
    </section>
</article>
<app-nav></app-nav>
