<app-headers></app-headers>
<article id="dados">
    <section id="grafico">
        <canvas id="myChart" width="400" height="400"></canvas>
    </section>
    <h2>Cursos em Andamento</h2>
    <section id="cursosAndamento"> 
        <section id="cartoes" (click)="irParaCurso()">
            <div id="texto">
                <span id="tema">Angular Fundamentos</span>
                <span id="prof">Loiane Groner</span>
                <div id="info">
                    <span id="level">Iniciante</span>
                    <span id="data">Jul 2016</span>
                    <span id="tempo">1h:25m</span>
                </div> 
            </div>
            <img src="./assets/down2.svg" alt="Icone de livro" id="icone">
        </section>
    </section>
    <h2>Certificados</h2>
    <section id="certificados">
        <div id="linkCert">
            <div id="iconTitulo">
                <img src='./assets/cert.png' alt="Icone de certificação" id="iconCert">
                <p id="tituloCert">Spring Boot Fundamentos</p>
            </div>
            <div id="dadosCert">
                <ul id="listaDados">
                    <li>
                        Prof: Heloize Pinto
                    </li>
                    <li>
                        Nível: Iniciante
                    </li>
                    <li>
                        Data: Out 2021
                    </li>
                    <li>
                        Duração: 1h:1m
                    </li>
                </ul>
            </div>
        </div> 
        <div id="linkCert">
            <div id="iconTitulo">
                <img src='./assets/cert.png' alt="Icone de certificação" id="iconCert">
                <p id="tituloCert">Python Padrão de Projetos</p>
            </div>
            <div id="dadosCert">
                <ul id="listaDados">
                    <li>
                        Prof: Camilla Lenzi
                    </li>
                    <li>
                        Nível: Intermediário
                    </li>
                    <li>
                        Data: Dez 2021
                    </li>
                    <li>
                        Duração: 1h:24m
                    </li>
                </ul>
            </div>
        </div> 
    </section>
</article>
<app-nav></app-nav>
