
<article id="tela">
    <h1><img src="./assets/Logo.svg" alt="Logotipo" id="logo" class="div1"></h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <input type="text" placeholder="Usuário" aria-label="Dado de usuário do sistema" name="usuario" ngModel>
            <a routerLink="helpName">Esqueceu qual o seu nome de usuário ?</a>
            <input type="password" placeholder="Senha" aria-label="Dado de senha do usuário do sistema" name="senha" ngModel>
        </div>
        <a routerLink="helpSenha">Esqueceu a senha ?</a>
        <a routerLink="criarConta">Crie uma conta</a>
        <link rel="stylesheet" href="">
        <p [ngStyle]="{'display' : erro == true ? 'block' : 'none' }" style="color: red">Usuário e/ou senha incorreto(s)</p>
        <button type="submit">Entrar</button>
    </form>
</article>
