@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#tela{
    background-image: url("./assets/linhaBaixo.svg"), 
                      url("./assets/linhaCima.svg"), 
                      url("./assets/linhas.svg"), 
                      url("./assets/linhas.svg");
    background-repeat: no-repeat, 
                       no-repeat,
                       no-repeat,
                       no-repeat;
    background-position: bottom left,
                         top right,
                         center right, 
                         center left;
    background-size: 18em,
                     18em,
                     contain,
                     contain;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#logo {
    width: 8em;
    padding-top: 5em;
    margin: auto;
}

input, button{
    margin-top: 3em;
    padding: 1em 1.5em;
    border: solid 0.11em rgb(18, 178, 199);
    border-radius: 0.8em;
    background-color: black;
    color: rgb(18, 178, 199);
    font-size: 1em;
}

button {
    border-radius: 2em;
    width: 10em;
}

button:active{
    color: white;
    border-color: white;
}

button:hover{
    transform: scale(1.05);
}

a{
    color: rgba(255,255,255,54%);
    font-size: 0.83em;
    margin-top: 0.6em;
    text-decoration: none;
}

a:last-child{
    margin-top: 1em;
}

a:hover {
    color: rgb(18, 178, 199);
}

form, div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.div1{
    display: flex;
    flex-direction: column;
    color: white;
}

@media only screen and (max-width: 600px) {
    #tela {
        background-size: 14em,
                         14em,
                         contain,
                         contain;
    }
  }
