<app-headers></app-headers>
<article>
    <section id="iframeDados">
        <div class="myIframe">
            <iframe width="901" height="516" src="https://www.youtube.com/embed/tPOMG0D57S0?list=PLGxZ4Rq3BOBoSRcKWEdQACbUCNWLczg2G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="dadoInicial">
             <div id="dadoPrincipais">
                <h2>Angular Fundamentos</h2>
                <p>Loiane Groner</p>
                <div id="dadoSecundarios">
                    <p>Iniciante</p>
                    <p>Jul 2016</p>
                </div>
            </div>
            <div id="dadosMarcacao">
                <div class="marcacao">
                    <i class="bi-download"></i>
                    <p>Download</p>
                </div>
                <div class="marcacao">
                    <i class="bi-bookmark-check"></i>
                    <p>Marca Pág.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h3>Conteúdo</h3>
        <div class="progresso">
            <h4>Introdução</h4>
            <div class="dadosProgresso">
                <i class="bi-check-all primeiro"></i>
                <p>Introdução ao Angular</p>
                <p>13:37</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Ambiente de Desenvolvimento (Node.JS, TypeScript, Angular CLI)</p>
                <p>09:28</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Introdução ao TypeScript para Angular</p>
                <p>14:46</p>
            </div>
        </div>
        <div class="progresso">
            <h4>Data binding</h4>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Property Binding e Interpolação</p>
                <p>13:59</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Class e Style binding</p>
                <p>12:50</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Event binding</p>
                <p>13:30</p>
            </div>
        </div>
        <div class="progresso">
            <h4>Serviços</h4>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Introdução a Serviços</p>
                <p>07:34</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Criando um serviço (Service)</p>
                <p>10:59</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Injeção de Dependência (DI) + como usar um serviço em um componente</p>
                <p>06:59</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Injetando um serviço em outro serviço</p>
                <p>05:19</p>
            </div>
        </div>
        <div class="progresso">
            <h4>Rotas</h4>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Rotas: Introdução</p>
                <p>08:59</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Rotas: Configurando rotas simples</p>
                <p>10:57</p>
            </div>
            <div class="dadosProgresso">
                <i class="bi-check-all"></i>
                <p>Rotas: RouterLink: definindo rotas no template</p>
                <p>05:40</p>
            </div>
        </div>
    </section>
</article>
<app-nav></app-nav>
