<app-headers></app-headers>
<article id="down">
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Podcast #001</span>
            <span id="resumo">Falando sobre Rust</span>
            <div id="info">
                <span id="categoria">Tecnologia</span>
                <span id="data">Out 2021</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/podcast.png" alt="Icone de podcast" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Podcast #002</span>
            <span id="resumo">Transformação Digital na Ambev</span>
            <div id="info">
                <span id="categoria">Tecnologia</span>
                <span id="data">Jan 2021</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/podcast.png" alt="Icone de podcast" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Podcast #003</span>
            <span id="resumo">OKRs funcionam?</span>
            <div id="info">
                <span id="categoria">Tecnologia</span>
                <span id="data">Out 2021</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/podcast.png" alt="Icone de podcast" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Podcast #004</span>
            <span id="resumo">Carreira em Dados</span>
            <div id="info">
                <span id="categoria">Tecnologia</span>
                <span id="data">Ago 2021</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/podcast.png" alt="Icone de podcast" id="icone">
    </section>
    <section id="cartoes">
        <div id="texto">
            <span id="tema">Podcast #005</span>
            <span id="resumo">Open Banking, Open Finance e APis</span>
            <div id="info">
                <span id="categoria">Tecnologia</span>
                <span id="data">Set 2021</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/podcast.png" alt="Icone de podcast" id="icone">
    </section>
    <section id="cartoes" (click)="irParaPodcast()">
        <div id="texto">
            <span id="tema">Podcast #006</span>
            <span id="resumo">React Native vs Flutter</span>
            <div id="info">
                <span id="categoria">Tecnologia</span>
                <span id="data">Dez 2021</span>
                <span id="tempo">1h:1m</span>
            </div> 
        </div>
        <img src="./assets/podcast.png" alt="Icone de podcast" id="icone">
    </section>
</article>
<app-nav></app-nav>
