<app-headers></app-headers>
<article>
    <section id="cartoes" (click)="irParaCurso()">
        <img src="./assets/livro.png" alt="Icone de livro" id="icone">
        <div id="dados">
            <span id="tema">Cursos</span>
            <span id="data">Ago 2021</span>
        </div>
        <span class="descricao">Novo Curso de Angular Fundamentos.</span>
    </section>
    <section id="cartoes" (click)="irParaPodcast()">
        <img src="./assets/podcast.png" alt="Icone de livro" id="icone" (click)="irParaPodcast()">
        <div id="dados">
            <span id="tema">Podcasts</span>
            <span id="data">Ago 2020</span>
        </div>
        <span class="descricao">React Native vs Flutter.</span>
    </section>
    <section id="cartoes" >
        <img src="./assets/podcast.png" alt="Icone de livro" id="icone">
        <div id="dados">
            <span id="tema">Podcasts</span>
            <span id="data">Set 2020</span>
        </div>
        <span class="descricao">Novo podcasts postado: “Tudo sobre Kafka”</span>
    </section>
    <section id="cartoes">
        <img src="./assets/livro.png" alt="Icone de livro" id="icone">
        <div id="dados">
            <span id="tema">Cursos</span>
            <span id="data">Set 2021</span>
        </div>
        <span class="descricao">Novo curso de Kafka do Zero ao Profissional</span>
    </section>
    <section id="cartoes">
        <img src="./assets/livro.png" alt="Icone de livro" id="icone">
        <div id="dados">
            <span id="tema">Cursos</span>
            <span id="data">Out 2021</span>
        </div>
        <span class="descricao">Novo curso de HTML fundamentos.</span>
    </section>
    <section id="cartoes">
        <img src="./assets/artigos.png" alt="Icone de livro" id="icone">
        <div id="dados">
            <span id="tema">Artigos</span>
            <span id="data">Out 2021</span>
        </div>
        <span class="descricao">Novo artigo sobre padrão de projeto MVC.</span>
    </section>
    <section id="cartoes">
        <img src="./assets/podcast.png" alt="Icone de livro" id="icone">
        <div id="dados">
            <span id="tema">Podcasts</span>
            <span id="data">Dez 2021</span>
        </div>
        <span class="descricao">Estágio em tecnologia aos 33.</span>
    </section>
    <section id="cartoes">
        <img src="./assets/livro.png" alt="Icone de livro" id="icone">
        <div id="dados">
            <span id="tema">Cursos</span>
            <span id="data">Dez 2021</span>
        </div>
        <span class="descricao">React Native: Como instalar o Expo no Linux.</span>
    </section>
</article>
<app-nav></app-nav>